.footer-app {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 20px;
}
.container {
  background-color: #d5c6d5;
  border-radius: 5px;
  max-width: 80%;
}
a {
  color: #ee46e2;
  text-decoration: none;
}
.App header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
}
.App {
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    max-width: 100%;
  }
}
