.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}
.Phonetic a:hover {
  background: #ddd;
}
.Phonetic {
  height: 30px;
  margin: 20px 0;
}
